@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=MonteCarlo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=MonteCarlo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=MonteCarlo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap");
/* .inspiration-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 4rem auto;
  width: 70vw;
  height: 80vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.inspiration-container h2 {
  width: 100%;
  height: 10vh;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.inspiration-container p {
  margin: 4rem auto;
  text-align: center;
  width: 80%;
  text-align: justify;
  height: 100%;
} */
.inspiration-main-container {
  display: flex;
  flex-direction: column;
  height: 80vh; /* Full viewport height */
}

.image-container {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url("../../assets/dog-bg-three.jpg") no-repeat center center; */
  background-size: cover;
}

.inspiration-container {
  position: relative;
  margin: 2rem auto;
  width: 70vw;
  height: 100vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #333333;
}

.inspiration-container h2,
.inspiration-container p,
.inspiration-container button {
  position: relative; /* Ensure they are above the pseudo-element */
  z-index: 2; /* Ensure they are above the blurred background */
  color: rgb(70, 72, 73); /* Adjust the text color for better readability */
}

.inspiration-container h2 {
  width: 100%;
  height: 10%;
  font-size: 2rem;
  margin-top: 5rem;
  padding: 1rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: underline;
  color: white;
}

.inspiration-container p {
  margin: 1rem auto;
  width: 95%;
  text-align: justify;
  overflow-y: auto;
  flex-grow: 1;
  line-height: 2.5rem;
  font-family: "Satisfy", cursive;
  font-weight: 300;
  word-spacing: 5px;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
}

.inspiration-container button {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.inspiration-container button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 840px) {
  .inspiration-container {
    width: 99vw;
  }

  .inspiration-container h2 {
    font-size: 2rem;
  }

  .inspiration-container p {
    width: 90%;
  }
}
