.hero {
  width: 100%;
  min-height: 94vh;
  background: url("../../assets/dog.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.hero-text {
  /* text-align: center;    */
  margin-left: 8%;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}
.hero-text h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.hero-text p {
  max-width: 80%;
  /* margin: 10px auto 20px; */

  margin-bottom: 0.7rem;
  line-height: 1.4;
}
/* ---------- media query --------- */
@media (max-width: 1156px) {
  .hero-text h1 {
    font-size: 40px;
  }
  .hero {
    min-height: 60vh;
  }
  .hero {
    min-height: 50vh;
  }
}

@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 40px;
  }
  .hero {
    min-height: 60vh;
  }
}
@media (max-width: 650px) {
  .hero-text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1rem;
  }
  .hero {
    min-height: 60vh;
  }
  .hero-text p {
    font-size: 14px;
    /* margin: 15px auto 30px; */
  }
}

.aboutus-hero {
  /* Your specific styles for AboutUs page */
  height: 30vh;
}
