.stories {
  margin: auto;
  width: 100%;
  padding: 1rem;
  background-color: #e1feff;
}

.stories-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.stories h3 {
  font-weight: 200;
  font-size: 28px;
}

.stories h2 {
  font-size: 35px;
  color: #000f38;
  max-width: 400px;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 1rem;
  gap: 1rem;
}

.stories-card {
  padding: 1rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.stories-card h3 {
  margin-top: 1rem;
  color: black;
  font-size: 1.2rem;
}

.stories-card p {
  margin-top: 1rem;
  color: black;
  font-size: 1rem;
  flex-grow: 1;
}

.stories-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.stories-card-one,
.stories-card-two,
.stories-card-three,
.stories-card-four {
  border-radius: 1rem;
  background-color: white;
  flex: 1 1 200px;
  max-width: 300px;
}

.make-a-stories {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
}

.make-a-stories button {
  border: 1px solid white;
  background-color: #3498db;
  color: white;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.make-a-stories button:hover {
  background-color: white;
  color: #1bb7bc;
}

.donate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------- media queries ------------- */
@media (max-width: 1024px) {
  .stories h3 {
    font-size: 24px;
  }

  .stories h2 {
    font-size: 30px;
  }

  .stories-card-one,
  .stories-card-two,
  .stories-card-three,
  .stories-card-four {
    max-width: 400px;
  }

  .stories-card img {
    height: 180px;
  }
}

@media (max-width: 800px) {
  .stories-heading {
    margin-left: 1;
  }

  .stories h3 {
    font-size: 22px;
  }

  .stories h2 {
    font-size: 28px;
  }

  .stories-card-one,
  .stories-card-two,
  .stories-card-three,
  .stories-card-four {
    width: 100%;
    margin-bottom: 1rem;
  }

  .gallery {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .stories-card img {
    height: 250px;
  }

  .stories-card h3 {
    font-size: 1rem;
  }

  .stories-card p {
    font-size: 0.9rem;
  }

  .make-a-stories button {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .stories h3 {
    font-size: 20px;
  }

  .stories h2 {
    font-size: 24px;
  }

  .stories-card img {
    height: 200px;
  }

  .make-a-stories button {
    width: 100%;
  }
}
