.about-container {
  display: flex;
  flex-direction: row;
  /* height: 85vh;
  width: 75vw; */
  margin: 2rem auto; /* Center horizontally and add top/bottom margin */
}

.section-1 {
  width: 50%;
}

.section-1 img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale();
}

.section-2 {
  background-color: #333333;
  width: 50%;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 1rem;
  z-index: 10;
  right: 10%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  object-position: center;
  filter: grayscale();
}

.section_three_container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.section_three_heading {
  padding: 1rem;
  font-size: 2rem;
}
.section_three_heading h2 {
  font-size: 2.5rem;
}
.section_three_heading p {
  font-weight: 100;
  font-size: 1.5rem;
}

.section_three_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex-grow: 1;
  overflow: auto; /* Ensure no overflow */
  /* text-align: justify; */
}

.about_content {
  /* padding: 1rem; */
  font-size: 1rem;
  /* margin-top: 1rem; */
  flex-shrink: 1; /* Ensure text adjusts within the container */
  word-wrap: break-word; /* Break long words */
  text-align: justify;
}

@media (max-width: 840px) {
  .about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 85%;
    border-radius: 1rem;
    background: url("../../assets/dogOne.jpg") no-repeat center center;
    background-size: cover;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-height: 80vh; /* Fixed height for section-2 */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents overflow */
  }

  .about_content {
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #fff; /* Ensure text is readable on dark background */
  }

  .section_three_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto; /* Enables scrolling if content exceeds height */
    max-height: calc(
      80vh - 4rem
    ); /* Adjusted to fit within section-2's max height */
  }
}

@media (max-width: 500px) {
  .about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 98%;
    border-radius: 1rem;
    background: url("../../assets/dogOne.jpg") no-repeat center center;
    background-size: cover;
  }

  .section-1 {
    display: none;
  }

  .section-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 98vh; /* Fixed height for section-2 */
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 0rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents content overflow */
  }

  .about_content {
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: #fff; /* Ensure text is readable on dark background */
  }

  .section_three_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex-grow: 1;
    width: 100%; /* Ensure it fits within the container */
    overflow-y: auto; /* Enable vertical scroll if content exceeds container height */
    max-height: calc(
      80vh - 4rem
    ); /* Adjust to fit within section-2's max height */
  }
}

/* @media (max-width: 840px) {
  .about_img {
    display: none;
  }
  .section-1 {
    display: none;
  }
  .section-2 {
    display: none;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about_content {
    width: 100%;
    height: 100%;
  }

  .about_content {
    font-size: 1rem;
  }

  .section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 1000px;
  }
} */
